{% extends 'layout.njk' %}

{% block scripts %}
{% endblock %}

{% block content %}

<ul>

<li><a href="/c/{{class_id}}/help">Help</a></li>

{% if role == 'teacher' %}

<li><a href="/c/{{class_id}}/students">Students</a></li>

{% endif %}

{% endblock %}
