{% extends 'layout.njk' %}

{% set title = name %}

{% block scripts %}
{% endblock %}

{% block content %}

<p class='join-code'>Join code: {{ join_code }}</p>

<p><a href="help">Get help</a></p>

{% endblock %}
