{% extends 'layout.njk' %}


{% block content %}

<table>
  <tbody>
{% for course in courses %}
<tr>
  <td>
    <a href="/c/{{course.fullName | slug}}/students">{{ course.fullName }}</a>
  </td>
  <td>
    {% if googleIds.indexOf(course.id) > -1 %}
    <a class="button" href="/classes/{{course.id}}/resync">Resync</a>
    {% else %}
    <a class="button" href="/classes/{{course.id}}/create">Create</a>
    {% endif %}
  </td>
</tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}
