      <div class="item">
        <div class="who">
          <span><a href="/c/{{item.class_id}}/help/{{item.id}}">#{{item.id}}</a> -
            <span>{{item.name}}</span>
          </span>
          <span class="time" data-time="{{item.created_at}}"></span>
        </div>
        <div class="section">
          <div>
            {{item.problem | md | safe}}
          </div>
        </div>
        <div class="buttons">
          <span>
            {% if user.role === 'teacher' or user.id === item.user_id %}
              <a href="/c/{{class_id}}/help/{{item.id}}/done">Close</a>
            {% endif %}
          </span>
        </div>
      </div>
