{% extends 'layout.njk' %}

{% block scripts %}
<script src="/js/modules/update-times.js" type="module"></script>
{% endblock %}

{% block content %}
<div id="item">
  {% include 'help-card.njk' %}
</div>
{% endblock %}

</body>
</html>
