{% extends 'layout.njk' %}

{% block scripts %}
<script src="/js/modules/update-times.js" type="module"></script>
{% endblock %}

{% block content %}

  {% if queue.length > 0 %}
    <div id="items" class="cards">

    {% for item in queue %}
    {% include 'help-card.njk' %}
    {% endfor %}

    </div>

    {% else %}
    <h2>
    {% block emptyQueue %}
    {% endblock %}
    </h2>
  {% endif %}

{% endblock %}
