      <div class="item">
        <div class="who">
          <span><a href="/c/{{item.class_id}}/help/{{item.id}}">#{{item.id}}</a> -
            <span>{{item.name}}</span>
          </span>
          <span class="time" data-time="{{item.time}}"></span>
        </div>
        <div class="section">
          <div>
            {{item.problem | md | safe}}
          </div>
        </div>
        <div class="buttons">
          <span class="status">Status: {{ item | status}}</span>
          {% if item.helper %}<span>Helping: {{item.helper}}</span>{% endif %}
          <span>
            <!-- FIXME show particular buttons based on the page and the role of the user -->
            <a href="/c/{{class_id}}/help/{{item.id}}/take">Help</a>
          </span>
        </div>
      </div>
