{% extends 'layout.njk' %}

{% set title = "Get help ✋" %}

{% block scripts %}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block content %}

<form method="POST">
  <label for="problem">
    What do you need help with?
  </label>

  <textarea name="problem" class="required"></textarea>

  <button id="submit">Submit</button>
</form>

{% endblock %}
