{% extends 'layout.njk' %}

{% set title = "Join class"%}
{% set class = 'create-class' %}

{% block scripts %}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block content %}

<form method="POST">
  <label for="name">
    Join code for {{ name }}
  </label>
  <input type="text" name="join-code" class="required"></input>

  <button id="submit">Submit</button>
</form>

{% endblock %}
