{% extends 'layout.njk' %}

{% set title = "Journal ✍️" %}
{% set class = "journal" %}

{% block scripts %}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block content %}

{% if withForm %}

  {% if prompts.length > 0 %}
    <form method="POST">
    {% for p in prompts %}
    <h2>{{p.text | md | safe}}</h2>
    <textarea name="prompt-{{p.prompt_id}}" class="required"></textarea>
    {% endfor %}
    <button id="submit">Submit</button>
    </form>
    {% else %}
    <form method="POST">
      <textarea name="text" class="required"></textarea>
      <button id="submit">Submit</button>
    </form>
  {% endif %}
{% endif %}


<div id="journal">
  {% if days.length > 0 %}
  {% for day in days %}
  {% include 'journal-day.njk' %}
  {% endfor %}
  {% else %}
  <h2>No journal entries yet.</h2>
  {% endif %}
</div>

{% endblock %}
