{% extends 'layout.njk' %}

{% set title = "Journal ✍️" %}

{% block scripts %}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block content %}

{% if withForm %}
<form method="POST">
  <textarea name="text" class="required"></textarea>
  <button id="submit">Submit</button>
</form>
{% endif %}

<div id="journal" class="journal">
  {% if days.length > 0 %}
  {% for day in days %}
  {% include 'journal-day.njk' %}
  {% endfor %}
  {% else %}
  <h2>No journal entries yet.</h2>
  {% endif %}
</div>

{% endblock %}
