<div class="day">
  <h2>{{ day.nice }}</h2>

  {% for entry in day.entries %}
  <div class="entry">
    <p class="time">{{ entry.created_at }}</p>
    <div class="text">
      {% if entry.prompt %}
      <p class="prompt">{{entry.prompt | md | safe}}</p>
      {% endif %}
      {{entry.text | md(false) | safe}}
    </div>
  </div>
  {% endfor %}

</div>
