<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css">
  {% block scripts %}
  {% endblock %}
</head>
<body class={{class}}>

  {% include "toolbar.html" %}

  <h1>{{ title }}</h1>

  {% block  content %}{% endblock %}

</body>
</html>
