<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css">
  {% block scripts %}
  {% endblock %}
</head>
<body {% if class %}class={{class}}{% endif %}>

  {% if className %}
  <h1 class="classname">{{ className }}</h1>
  {% endif %}

  {% include "toolbar.html" %}

  {% block beforeTitle %}
  {% endblock %}

  {% if title %}
  <h1>{{ title }}</h1>
  {% endif %}

  {% block content %}
  {% endblock %}

</body>
</html>
