{% extends 'layout.njk' %}

{% set title = "Prompts 🤔" %}
{% set class = "prompts" %}

{% block scripts %}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block content %}

<form class="new-prompt" method="POST">
  <label for="text">Text</label>
  <textarea name="text" class="required"></textarea>
  <button id="submit">Make prompt</button>
</form>


{% if open.length > 0 %}

<h2>Open prompts</h2>
<table>
  <tbody>
    {% for p in open %}
    <tr>
      <td>{{ p.text | md | safe}}</td>
      <td>
        <a href="/c/{{class_id}}/prompts/{{p.id}}">Responses</a>
      </td>
      <td class="actions">
        <a href="/c/{{class_id}}/prompts/{{p.id}}/close">Close</a>

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% if old.length > 0 %}

<h2>Old prompts</h2>

<table>
  <tbody>
    {% for p in old %}
    <tr>
      <td>{{ p.text | md | safe}}</td>
      <td class="actions">
        <a href="/c/{{class_id}}/prompts/{{p.id}}/again">Again</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}
