{% extends 'layout.njk' %}

{% set title = "Prompts 🤔" %}
{% set class = "prompts" %}

{% block scripts %}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block content %}

<form class="new-prompt" method="POST">
  <label for="text">Text</label>
  <textarea name="text" class="required"></textarea>
  <button id="submit">Make prompt</button>
</form>

<table>
  <thead>
    <tr>
      <th>Text</th>
    </tr>
  </thead>
  <tbody>
    {% for p in prompts %}
    <tr>
      <td>{{ p.text }}</td>
      <td>{{ (p.created_at * 1000) | date('YYYY-MM-DD') }}</td>
      <td>
        {% if p.closed_at %}
        {{ (p.closed_at * 1000) | date('YYYY-MM-DD') }}
        {% else %}
        Open
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
