<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="/css/style.css" media="all" rel="stylesheet" type="text/css">
  <script src="/js/update-times.js" type="module"></script>
  {% block scripts %}
  {% endblock %}
</head>
<body class="queue">

  {% if className %}
  <h1 class="classname">{{ className }}</h1>
  {% endif %}

  {% if queue.length > 0 %}
    <div id="items" class="cards">

    {% for item in queue %}
    {% include 'help-card.njk' %}
    {% endfor %}

    </div>

    {% else %}
    <h2>
      🎉 Nobody waiting! 🎉
    </h2>
  {% endif %}

</body>
</html>
