{% extends 'layout.njk' %}

{% set title = "Responses" %}
{% set class = "responses" %}

{% block scripts %}
{% endblock %}

{% block content %}

{% if responses.length > 0 %}

<h2>{{responses[0].prompt}}</h2>

{% for r in responses %}

<h3>{{r.name}}</h3>

{{r.text | md | safe}}

{% endfor %}

{% else %}

<p>Responses yet.</p>

{% endif %}

{% endblock %}
