{% extends 'layout.njk' %}

{% set title %}
{{students.length}} Student{% if students.length != 1 %}s{% endif %}
{% endset %}

{% block content %}

<table>
  <thead>
    <tr>
      <th></th>
      <th>✋</th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td><a href="/users/{{s.id}}">{% if s.name %}{{s.name}}{% else %}Anonymous: {{s.id}}{% endif %}</a></td>
      <td>{{s.help_requests}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
