{% extends 'help-items.njk' %}

{% set title = "Up next" %}

{% block beforeTitle %}
<p class="get-help"><a href="/c/{{class_id}}/get-help">Get help ✋</a></p>
{% endblock %}

{% block emptyQueue %}
🎉 Nobody waiting! 🎉
{% endblock %}
