{% extends 'help-items.njk' %}

{% set title = "Up next" %}

{% block scripts %}
{{ super() }}
<script src="/js/check-required.js" type="module"></script>
{% endblock %}

{% block beforeTitle %}
<form method="POST">
  <label for="problem">
    What do you need help with?
  </label>

  <textarea name="problem" class="required"></textarea>

  <button id="submit">Submit</button>
</form>
{% endblock %}

{% block emptyQueue %}
🎉 Nobody waiting! 🎉
{% endblock %}
