{% extends 'layout.njk' %}

{% set title = name %}

{% block content %}

<form method="POST" action="">
  <p>Preferred name: <input name="preferredName" type="text" size="60" value="{{name}}"></p>
  <p>Pronouns: <input name="pronouns" type="text" size="60" value="-"></p>
  <input type="submit">
</form>


{% endblock %}
