{% extends 'layout.njk' %}

{% set title = name %}

{% block content %}

<form class="userform" method="POST" action="">
  <label for="preferredName">Preferred name</label>
  <input name="preferredName" type="text"  value="{{name}}">
  <label for="pronouns">Pronouns</label>
  <input name="pronouns" type="text" value="">
  <input type="submit">
</form>


{% endblock %}
