@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Montserrat:wght@100;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

body {
  width: calc(min(40em, 80%));
  margin: 20px auto;
}

body.queue {
  width: 80%;
  margin: 20px auto;
  font-size: calc(min(64px, 4vw));
}

body.queue h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

body.welcome {
  text-align: center;
}

body.welcome h1 {
}

body.welcome p {
  font-size: 1.2em;
  margin: 1em 0;
}

body.welcome ul {
  width: 100%;
}

body.welcome li {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  margin: 0.5em 0;
}

ul,
ol {
  margin-left: 2em;
}

h1.classname {
  font-size: 32px;
  text-align: center;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5em;
  margin-bottom: 40px;
  background: rgba(196, 196, 196, 0.2);
  padding: 6px 4px;
}

.toolbar a {
  flex: auto;
  text-align: center;
  font-size: 80%;
  color: #666;
}

p.get-help {
  text-align: center;
}

p.get-help a {
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  width: calc(50% - 22px);
  padding: 10px;
  margin: 10px auto;
  color: black;
  background: rgba(100, 128, 255, 0.3);
}
.cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  background: rgba(196, 196, 196, 0.1);
}

.item > .who {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.item > .buttons {
  display: flex;
  flex-direction: row;
  font-size: 0.7em;
  justify-content: space-between;
}

.item img {
  max-width: 100%;
}

.buttons button {
  margin: 0 3px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  border-radius: 2px;
  padding: 4px;
  color: #333;
}

.section h1 {
  font-size: 1.1em;
  color: grey;
  font-weight: 500;
  margin: 0.5em 0;
}

.section p,
.section blockquote,
.section pre {
  margin: 1em 0;
}

.section blockquote {
  margin-left: 1em;
  font-size: 90%;
}

.section p:first-child {
  margin: 0;
}

legend {
  margin-left: 10px;
  padding: 0 2px;
  font-family: sans-serif;
}

.problem > div {
  padding: 6px;
}

label,
textarea {
  display: block;
}

label {
  margin-top: 2em;
}

textarea {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 22px);
  height: 10em;
}

td.actions {
  width: 20%;
}

.time {
  color: grey;
  text-align: right;
  font-size: 80%;
}

table {
  width: 100%;
}

th:first-child,
td:first-child {
  text-align: left;
}

th,
td {
  text-align: center;
  width: 2em;
}

.create-class input[type='text'] {
  border: 1px solid grey;
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 22px);
}

.responses h3 {
  margin: 1em 0;
}

.userform {
  display: grid;
  grid-template-columns: auto 2fr;
  gap: 20px;
}

.userform > * {
  padding: 0;
  margin: 0;
}

.userform > input[type="submit"] {
  grid-column: 1 / 3;
}
